.content {
    width: 730px;
}

.myPost span {
    font-size: 24px;
}

.text {
    margin-top: 20px;
}

.text textarea {
    padding: 15px;
    width: 700px;
    height: 100px;
    resize: none;
    border: 1px solid gray;
    border-radius: 10px;
}

.text textarea:focus {
    box-shadow: 0px 0px 22px -12px #000000;
}

.button button {
    margin-top: 15px;
    width: 150px;
    height: 30px;
}
