
.content {

    width: 730px;
}

.content_mypost {
    font-size: 20px;
    padding-bottom: 20px;

}

.content_form {

}

.content_form textarea {
    padding: 5px 5px 5px 5px;
    min-width: 700px ;
    resize: none;
    border: 1px solid gray;
    border-radius: 10px;
}

.content_form textarea:focus {
    box-shadow: 0px 0px 22px -12px #000000;
}

.content_form button {
    margin-top: 15px;
    width: 150px;
    height: 30px;
}
