.container {
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 200px;
    background: url("https://st.depositphotos.com/1010463/1468/i/600/depositphotos_14687809-stock-photo-sunny-forest-panorama.jpg") no-repeat 0 0;
    background-size: 100% 100%;
}