
.person {

}



.button {
    color: black;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 60px;
    width: 150px;
    line-height: 50px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px;
}