
.nav {
    grid-area: n;
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 22px -12px #000000;
}


.button {
    margin: 7px 7px 7px 7px;
}

.link {
    display: inline-block;
    width: 100%;
    text-align: center;
    min-height: 30px;
    line-height: 30px;
    border-radius: 10px;

    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: lightgray;
    color: black;
}

.link.active {
    border: 1px solid gray;
    border-radius: 10px;
}