body {
  background-color: lightgray;
}

.app-wrapper{
  display: grid;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 40px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
  grid-area: h;
  background-color: honeydew;

}


.header-logo-img {
  display: inline-block;
  padding: 5px 0px 0px 5px;
  width: 30px;
}

.nav {
  grid-area: n;
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 22px -12px #000000;

}

nav div {
  margin: 7px 7px 7px 7px;
}

nav div a{
  display: inline-block;
  width: 100%;
  text-align: center;
  min-height: 30px;
  line-height: 30px;
  border-radius: 10px;

  text-decoration: none;
  color: black;
}

nav div a:hover{
  background-color: lightgray;
  color: black;
}

.content {
  grid-area: c;
  margin-right: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 22px -12px #000000;
}

.content-head-img {
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  height: 200px;
  background: url("https://st.depositphotos.com/1010463/1468/i/600/depositphotos_14687809-stock-photo-sunny-forest-panorama.jpg") no-repeat 0 0;
  background-size: 100% 100%;
}

